* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(./bg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.search-container {
    margin: 20px;
    text-align: center;
}

#search {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 2px 2px 5px black(50px, 50px, 50px, 0.1);
}

#container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;  
    width: 80%;
    padding: 20px;
}

#card {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    backdrop-filter: blur(20px);
}

#card:hover {
    transform: scale(1.05);
}

#ig img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 20px;
    color: whitesmoke;
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
